<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.heavn.student">

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChangePassword"/>
        <activity android:name=".beforeRegActivity" />
        <activity android:name=".StuRigisterActivity" />
        <activity android:name=".TeaRigisterActivity" />
        <activity android:name="share.LoadingActivity" />
        <activity android:name="share.MineActivity" />
        <activity android:name="share.ShareMainActivity" />
        <activity android:name="share.WriteWordsActivity" />
        <activity android:name="lostandfound.FullImageDetail" />
        <activity android:name="lostandfound.LostMainActivity" />
        <activity android:name="lostandfound.MineActivity" />
        <activity android:name="lostandfound.WriteLostActivity" />
        <activity android:name="association.AssRegisteActivity"/>
        <activity android:name="association.RegisteActivity"/>
        <activity android:name="yue.AppointmentActivity"/>
        <activity android:name="yue.FullImage"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
    </application>

</manifest>